<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="stud" class="com.Syncon.Student.Student1">

<property name="sid" value="101"></property>
<property name="name" value="Sam"></property>
<property name="email" value="Sam1234@gmail.com"></property>
<property name="address" value="Sigma Tech park"></property>
<property name="city" value="Bangalore"></property>
<property name="phone" value="987654331"></property>








</bean>



</beans>
